
@{
    ViewData["Title"] = "Index";
}
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore;
@functions
{
    string RoleName(IdentityUserRole<string> userRole)
    {
        return Model.Roles.FirstOrDefault(R => R.Id == userRole.RoleId)?.Name ?? "UNKNOWN ROLE!!!";
    }

}
@model SituationCenterBackServer.Models.AdministratorViewModels.IndexViewModel
    <h2>Administrator panel</h2>
    <a href="Administrator/logs"><input type="button" class="btn-primary btn-lg" value="Logs" /></a>
    <div class="row">
        <div class="col-lg-6">
            <h1>Users table</h1>
            <table class="table-bordered table-condensed">
                <tr>
                    <td>email</td>
                    <td>phone number</td>
                    <td>roles</td>
                </tr>
                @foreach (var user in Model.Users)
            {
                    <tr>
                        <td>@user.Email</td>
                        <td>@user.PhoneNumber</td>
                        <td>
                            @string.Join(" ", user.Roles.Select(R => RoleName(R)))
                            
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="col-lg-6">
            <h1>Rooms table</h1>
            <table class="table-bordered table-condensed">
                <tr>
                    <td>Name</td>
                    <td>Privacy rule</td>
                </tr>
                @foreach(var room in Model.Rooms)
                {
                    <tr>
                        <td>@Html.ActionLink(room.Name, "room", new { roomid=room.Id })</td>
                        <td>@room.SecurityRule.PrivacyRule</td>
                    </tr>

                }
            </table>
        </div>
    </div>
<div class="row">
    <div class="col-lg-4">
        <h1>All roles</h1>
        <ol>
            @foreach(var role in Model.Roles)
            {
                <li>@role.Name</li>
            }
        </ol>
    </div>
    </div>
