@page "{owner=self}/{*folderPath}"
@model IndexModel
@{
    ViewData["Title"] = "Files storage";
}
<h2>Folders</h2>
<ul>

    @foreach (var folder in Model.CurrentDirectory.Directories)
    {
        <li><a asp-route-owner="@Model.Owner" asp-route-folderPath="@folder.FullPath">@folder.Name</a></li>
    }
</ul>

<h2>Files</h2><h5>@Model.Owner</h5>
<ul>

    @foreach (var file in Model.CurrentDirectory.Files)
    {
        <li><a asp-route-filePath="@file.FullPath" 
               asp-route-owner="@Model.Owner"
               asp-page="./Download"
               >@file.Name</a></li>
    }
</ul>

<h2>Documents</h2>
<ul>
    @foreach (var file in Model.CurrentDirectory.Documents)
    {
        <li>@file.Name</li>
    }
</ul>

<form method="post" enctype="multipart/form-data" accept=".doc,.docx">
    <input type="file" name="files" />
    <input type="submit" />
</form>