@page "{owner=self}/{*endPath}"
@model IndexModel
@{
    ViewData["Title"] = "Files storage";
}
@functions
{
    string Path(string fullPath) => fullPath.Substring(fullPath.IndexOf('/') < 0 ? 0 : fullPath.IndexOf('/'));
}
<h2>Folders</h2>
<ul>

    @foreach (var folder in Model.CurrentDirectory.Directories)
    {
    <li><a asp-route-owner="@Model.Owner" asp-route-endPath="@folder.FullPath">@folder.Name</a></li>
    }
</ul>

<h2>Files</h2>
<h5>@Model.Owner</h5>
<ul>

    @foreach (var file in Model.CurrentDirectory.Files)
    {
    <li>
        <a asp-route-endPath="@file.FullPath"
           asp-route-owner="@Model.Owner"
           asp-page="./Download">@file.Name</a>
    </li>
    }
</ul>

<h2>Documents</h2>
<ul>
    @foreach (var document in Model.CurrentDirectory.Documents)
    {
    <li>
        <ul>
            <li>
                @document.Name
            </li>
            <li>@document.FullPath</li>
            <li>
                <a asp-route-endPath="@Path(document.FullPath)"
                   asp-route-owner="@Model.Owner"
                   asp-page="./Download">Download</a>
            </li>
        </ul>
    </li>
    }
</ul>

<form method="post" enctype="multipart/form-data" accept=".doc,.docx">
    <input type="file" name="files" />
    <input type="submit" />
</form>