
@{
    ViewData["Title"] = "Index";
}
@model IPResolver.Controllers.ViewController.ViewModel
<h1>CCF Status</h1>
<h2>Services</h2>
<table>
    <tr>
        <th>InterfaceName</th>
        <th>Status</th>
        <th>Connection time ago</th>
        <th>last ping ago</th>
        <th>last ping time</th>

    </tr>
    @foreach(var service in Model.Services)
    {
        <tr>
            <th>@service.InterfaceName</th>
            <th>@service.Connection.Connected</th>
            <th>@(DateTime.Now - service.ConnectionTime)</th>
            <th>@(DateTime.Now - service.LastPing)</th>
            <th>@(service.PingTime)</th>
        </tr>
    }
</table>
<h2>Clients</h2>
<table>
    <tr>
        <th>InterfaceName</th>
        <th>Status</th>
        <th>Connection time ago</th>
        <th>last ping ago</th>
        <th>last ping time</th>

    </tr>
    @foreach (var client in Model.Users)
    {
        <tr>
            <th>@client.InterfaceName</th>
            <th>@client.Connection.Connected</th>
            <th>@(DateTime.Now - client.ConnectionTime)</th>
            <th>@(DateTime.Now - client.LastPing)</th>
            <th>@(client.PingTime)</th>
        </tr>
    }
</table>